<script type="text/html" id="cashChange_tmp">
<tbody>
<tr>
  <td>Bill Total</td>
  <td><%=cash%></td>
</tr>
<tr>
  <td>Customer Paid Total</td>
  <td><%=change%></td>
</tr>
<tr>
  <td>Change</td>
  <td><%=cashTotal%>
  </td>
</tr>
</tbody>
</script>