<script  id="dhamechaHeadOffice_tmp" type="text/html">
  <tbody>
  <tr>
    <td class="b500 tip">Dhamecha Head Office</td>
    <td></td>
    <td class="tr" colspan="2">Date Time: <span class="date_time"> <%=dateTime %></span></td>
  </tr>
  <tr>
    <td colspan="4"><%=head%></td>
  </tr>
  <tr>
    <td>T: <%=t%></td>
    <td>E: <%=e%> </td>
    <td>W: <%=w%></td>
    <td></td>
  </tr>
</tbody>
</script>