<script type="text/html" id="iouSummary_tmp">
<tbody>
<tr>
  <td class="b600" colspan="2">IOU</td>
</tr>
<tr>
  <td>
     IOU Credit Used Before</td>
  <td><%=bfwdIOUs%></td>
</tr>
<tr>
  <td>IOU Credit Used Now</td>
  <td><%=newIouIssue%></td>
</tr>
<tr>
  <td>IOU Credit Used After</td>
  <td><%=cfwdIOUs%>
  </td>
</tr>
</tbody>
</script>