<script type="text/html" id="paymentTotalInfo_tmp">
<tbody>
    <tr>
      <td class="b600" colspan="2">Payments</td>
      <td class="b600" colspan="2">Total Payments</td>
    </tr>
    <tr>
      <td>Cash</td>
      <td> <%=cash%></td>
      <td class="b600 tc" rowspan="5" colspan="2" style="width: 50%;">£ <%=totalPayments%></td>
    </tr>
    <tr>
      <td> Mobile</td>
      <td> <%=mobile%></td>
    </tr>
    <tr>
      <td> Card</td>
      <td> <%=card%></td>
    </tr>
    <tr>
      <td> IOU</td>
      <td> <%=iou%></td>
    </tr>
    <tr>
      <td> Voucher</td>
      <td> <%=voucher%></td>
    </tr>
  </tbody>
</script>