<script type="text/html" id="paymentOnAcc_tmp">
<tbody>
<tr>
  <td class="b600" colspan="2">Payment On Acc</td>
</tr>
<tr>
  <td>
    B / Fwd Payment On Acc</td>
  <td><%=bfwdPaymentOnAcc%></td>
</tr>
<tr>
  <td>Used Payment On Acc</td>
  <td><%=usedPaymentOnAcc%>
  </td>
</tr>
<tr>
  <td>C / Fwd  Payment On Acc</td>
  <td><%=cfwdPaymentOnAcc%></td>
</tr>
</tbody>
</script>