<script type="text/html" id="pendingSummary_tmp">
<tbody>
<tr>
  <td class="b600" colspan="2">IOU CASH</td>
</tr>
<tr>
  <td>
    B / Fwd IOU's</td>
  <td><%=bfwdIOUs%></td>
</tr>
<tr>
  <td>New IOU Issue</td>
  <td><%=newIouIssue%></td>
</tr>
<tr>
  <td>C / Fwd IOU’s</td>
  <td><%=cfwdIOUs%>
  </td>
</tr>
</tbody>
</script>