.index{
  padding: 10px 0 50px;
  font-size: px2rem(10px);
  .page{
    width: 794px;
    height: 1123px;
    margin: 10px auto;
    box-shadow: 1px 1px 4px #000;
    padding: px2rem(16px) px2rem(16px) 0;
    position: relative;
    background: #fff;
  }
  .header{
    padding-bottom: px2rem(7px);
  }
  .footer{
    padding: 0 px2rem(16px);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: px2rem(-16px);
    .box{
      padding: px2rem(8px) 0 px2rem(16px);
      border-top: 1px solid rgba(54, 54, 54, 0.26);
    }
    .page_num{
      padding: 0 px2rem(8px) 0 px2rem(2px);
    }
  }
  .shop_info{
    // font-size: px2rem(6.5px);
  }
  .invoice{
    font-weight: 400;
    td{
      padding-bottom: px2rem(3px);
    }
    &::before{
      content: 'Invoice';
      font-weight: 600;
      font-size: px2rem(12px);
      margin-top: px2rem(-14px);
      position: absolute;
    }
  }
  .invoice_info{
    tr:nth-child(3){
      td{
        border-top: 1px solid rgba(54, 54, 54, 0.26);
        padding: px2rem(6px) 0;
      }
    }
    td{
      font-weight: 400;
      font-size: px2rem(9.6px);
      padding: px2rem(4px) 0;
      span{
        font-weight: 500;
      }
    }
  }
  .list{
    thead{
      font-weight: 600;
      td{
        border-width: 1px 0 1px;
        border-color: rgba(54, 54, 54, 0.26);
        border-style: solid;
        height: px2rem(24px);
      }
    }
    tbody{
      text-align: center;
      tr{
        td{
          height:  px2rem(14px);
          line-height: px2rem(14px);
          font-weight: 500;
          &:nth-child(2),
          &:nth-child(3){
            text-align: left;
          }
          &.total{
            height:  px2rem(18px);
            line-height: px2rem(18px);
            span{
              min-width: px2rem(60px);
            }
          }
        }
      }
    }
  }
  .content{
    display: inline-block;
    width: 100%;
  }
  .count_total{
    border-top: 1px solid rgba(54, 54, 54, 0.26);
    font-size: px2rem(9px);
    margin-top: px2rem(6px);
    // padding-top: px2rem(8px);
    tr{
      td{
        width: px2rem(30px);
        text-align: center;
        &:nth-last-child(1){
          text-align: right;
          padding-right: px2rem(20px);
          font-size: px2rem(11px);
        }
        &:nth-last-child(2){
          text-align: left;
        }
        &:first-child{
          width: px2rem(10px);
        }
      }
    }
    .total{
      height: px2rem(14px);
      span{
        margin-right: px2rem(20px);
        vertical-align: super;
        @extend .dib;
      }
      td{
        text-align: left !important;
        padding: px2rem(4px) 0 px2rem(4px) px2rem(60px);
        font-size: px2rem(10px);
        @extend .b700;
      }
    }
    .b{
      font-weight: 600;
    }
  }
}
.note{
  font-size: px2rem(8px);
  padding-top: px2rem(12px);
  text-align: left;
}

@media print{
  @page{
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .index{
    padding: 0;
    .page{
      margin: 0;
      box-shadow: 0 0 0 #000;
    }
  }
}