.z_index{
  padding: 10px 44px 50px;
  background: rgba(244, 248, 249, 1);
  font-size: 16px;
  // font-weight: 400;
  color: #020202;
  @extend .pa;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .box{
    background: #fff;
    border-radius: 20px;
    border: 1px solid #eee;
    padding: 24px;
  }
  .violet{
    color: $violet;
  }
  .b500{
    vertical-align: baseline;
  }
  .first {
    td{
      height: 36px;
      line-height: 36px;
      span{
        padding-left: 8px;
      }
    }
  }
  .second{
    margin-top: 24px;
    background: rgba(84, 43, 121, 0.03);
    padding: 6px 10px 14px;
    td{
      height: 20px;
      line-height: 20px;
    }
    .tip{
      @extend .b600;
      height: 40px;
      line-height: 40px;
    }
  }
  .third{
    padding: 0 10px 28px;
    background: rgba(244, 244, 244, 0.6);
    margin-top: 14px;
    td{
      height: 24px;
      line-height: 24px;
    }
    .tip{
      padding: 5px 0 12px;
    }
    .adjust{
      padding: 12px 0 0;
    }
  }
  .fourth{
    margin-top: 12px;
    td{
      height: 42px;
      line-height: 42px;
      border: 1px solid rgba(240, 238, 241, 1);
    }
  }
}