$font-roboto: Montserrat;
// ,SimHei,Helvetica, PingFangSC-Regular, Arial, sans-serif';
$baseSize: 6.5px;
$fontColor: #323232;

$linColor: #ebebeb;
$oldPrice: #bfbfbf;
$pin: #ff7a37;
$red: #fd0000;
$violet:  #542B79;


$fs: flex-start;
$fe: flex-end;
$cen: center;
$sb: space-between;
$sa: space-around;