<article class="count_total">
  <div class="total">
    <span class="title">Count Total</span>
      <span>Cases:
        0</span>
      <span>Singles:
        0</span>
      <span>Total:
        10</span>
      <span>
        Value of Goods:
      60.80
      </span>
      <span>
        Ext VAT:
      60.80
      </span>
  </div>
  <div class="grid">
    <table class="left" align="center">
      <tbody>
        <tr>
          <td class="b">Code</td>
          <td class="b">Rate</td>
          <td class="b">Value of Goods</td>
          <td class="b">VAT</td>
        </tr>
        <tr>
          <td>A</td>
          <td>20.00</td>
          <td>53.01</td>
          <td>10.60</td>
        </tr>
        <tr>
          <td>Z</td>
          <td>0.00</td>
          <td>7.790</td>
          <td>0.00</td>
        </tr>
        <tr>
          <td>B</td>
          <td>5.00</td>
          <td>23.10</td>
          <td>1.00</td>
        </tr>
      </tbody>
    </table>
    <table class="cell right">
      <tbody>
        <tr>
          <td class="tr">VAT:</td>
          <td>10.80</td>
        </tr>
        <tr>
          <td class="tr">Total incl VAT:</td>
          <td>71.40</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="note">Please note that due to the unprecedented trading conditions we will not accept any goods being returned until further notice.</p>

</article>