.share{
  padding-bottom: px2rem(240px);
  .disc{
    margin: px2rem(13px) px2rem(20px) 0  px2rem(20px);
    border-bottom: 1px solid rgba(203, 203, 203, 1);
    padding-bottom: px2rem(50px);
  }
}
.clock_detail{
  width: 100%;
  // height: px2rem(534px);
  padding: 0 px2rem(50px);
  overflow: hidden;
  margin-top: px2rem(-66px);
  border-radius: px2rem(10px) px2rem(10px) 0px 0px;
  background: #fff;
  position: relative;
  p{
    font-size: px2rem(30px);
    padding: px2rem(43px) 0 0;
    line-height: px2rem(48px);
    letter-spacing: px2rem(2px);
    &::before{
      content: '';
      width: px2rem(8px);
      height: px2rem(8px);
      display: block;
      border-radius: 50%;
      position: absolute;
      margin: px2rem(20px) 0 0 px2rem(-20px);
      background-color: #03899CFF;
      padding: 0 px2rem(4px);
    }
    span{
      color: rgba(3, 137, 156, 1);
      font-size: px2rem(40px);
      top: px2rem(-4px);
      position: relative;
    }
  }
  .count{
    padding: 0 px2rem(20px);
    color: #fe7a00;
    font-size: px2rem(76px);
    height: px2rem(48px);
    line-height: px2rem(48px);
    display: inline-block;
    top: px2rem(-4px);
    position: relative;
  }
  .btn{
    height: px2rem(100px);
    line-height: px2rem(100px);
    border-radius: px2rem(50px);
    display: block;
    text-align: center;
    font-weight: bold;
    &.btn_vip{
      font-size: px2rem(40px);
      background: #fe7a00;
      color: #fff;
      width: px2rem(625px);
      position: fixed;
      bottom: px2rem(95px);
      margin-left: 50%;
      left: px2rem(-314px);
    }
    &.btn_count{
      background: rgba(255, 171, 0, 0);
      border: 1px solid #323232;
      margin: px2rem(36px) auto 0;
      width: 100%;
      font-size: px2rem(34px);
      letter-spacing: px2rem(1px);
      em{
        color: #fe7a00;
        font-size: px2rem(40px);
        padding: 0 px2rem(6px);
        top: px2rem(-3px);
        position: relative;
      }
      a{
        vertical-align: baseline;
        color: #D70606;
        font-size: px2rem(42px);
        font-family: SourceHanSansSC-Bold;
        font-weight: bold;
        padding-left: px2rem(16px);
      }
    }
  }
}
.share{
  .copy{
    display: none;
    width: 0;
    height: 0;
    left: 100000px;
  }
}