<script type="text/html" id="countInfo_tmp">
<td><span class="violet b500 tu"><%=invoiceCountInfo.sales%></span></td>
<td><span class="violet b500 tu"><%=invoiceCountInfo.refund%></span></td>
<td><span class="b500">£ <%=invoiceAmountInfo.sales%></span></td>
<td><span class="b500">-£ <%=invoiceAmountInfo.refund%></span></td>
<td><span class="b500">£ <%=invoiceAmountInfo.netSales%></span></td>
</script>