<script type="text/html" id="x_salesReconciliation_tmp">
<tbody>
  <tr>
    <td class="b600 tip">Sales Reconciltation</td>
  </tr>
  <tr>
    <td> Total Net Sales</td>
    <td>IOUs Issued</td>
    <td>Pendings Issued</td>
    <td>Number of IOU Invoices</td>
  </tr>
  <tr>
    <td class="b500">£ <%=totalNetSales%></td>
    <td class="b500">£ <%=lessIOUsIssued%></td>
    <td class="b500">£ <%=lessPendingsIssued%></td>
    <td class="b500 violet tu"><%=numberofReciepts%></td>
  </tr>
  <tr>
    <td class="adjust" colspan="3">Adjust Sales less IOUs and Pendings</td>
  </tr>
  <tr>
    <td class="b500" colspan="3">£ <%=adjustSaleslessIOUsandPendings%></td>
  </tr>
</tbody>
</script>