<script type="text/html" id="Zreport_tmp">
<div class="item">
  <div class="head grid">
    <h4 class="cell title">
      <% if(payType == 'IOU'){ %>
        IOU Issued: <span><%=totalSales%></span> &nbsp;&nbsp;
        IOU Paid Off: <span><%=totalPayoff%></span>
      <% } else {%>
        <%=payType%> <%=totalAmount%>
      <%} %> </h4>
    <div style="width: 30%;">
      Date: <span><%=date%></span>
      Till: <span><%=till%></span>
    </div>
  </div>
  <div class="contents grid">
    <div class="cell right">
      <p>No of Receipt: <span><%=noOfReceipt%></span></p>
      <% if(payType != 'IOU'){ %>
        <p>Total Sales: <span><%=totalSales%></span></p>
         <p>Total Refund: <span><%=totalPayoff%></span></p>
      <%} %>
      <p>Total NET Amount: <span><%=totalNetAmount%></span></p>
    </div>
  </div>
</div>
</script>