<script type="text/html" id="invoice_tmp">
<table class="invoice" align="left">
  <tr>
    <td>
      <%:=invoice.join('<br/>')%>
    </td>
    <td>
      <%:=business.join('<br/>')%>
    </td>
  </tr>
  <tr>
    <td>
      Customer ID:<span><%=customerId%></span>
    </td>
    <td>
     Cust. VAT Reg No.:<span><%=customerRegisterNo%>
    </td>
  </tr>
</table>
</script>