<script type="text/html" id="invoice_tmp">
<table class="invoice" align="left">
  <tr>
    <td>
      <%:=invoice.join('<br/>')%>
    </td>
    <td>
      <%:=business.join('<br/>')%>
    </td>
  </tr>
</table>
</script>