<script type="text/html" id="orderInfo_tmp">
<table class="invoice_info" align="left"  cellspacing="0">
<tbody>
<tr>
<td colspan="6">Customer ID:<span><%=customerId%></span></td>
</tr>
<tr>
<td colspan="6" style="text-align:right">Date-Time:<span><%=dateTime%></span></td>
</tr>
<tr>
  <td>Till Number: <span><%=tillNumber%></span></td>
  <td>Cashier ID: <span><%=cashierId%></span></td>
  <td>Cashier Name: <span><%=cashierName%></span> </td>
  <td>Invoice No: <span><%=invoiceNo%></span></td>
  <td>Receipt No: <span><%=receiptNo%></span></td>
</tr>
</tbody>
</table>
</script>