<script type="text/html" id="totalInfo_tmp">

<article class="count_total" id="totalInfo">
 <table  align="center">
  <tbody>
  <% if(textDiscountList.length) {%>
    <tr class="trade_save">
      <td colspan="7">
        Trade & Save
      </td>
    </tr>
    <% for(var i in textDiscountList){%>
      <% var item = textDiscountList[i]%>
      <tr class="trade_save">
        <td colspan="6"><%=item.text%></td>
        <td colspan="1"><span><%=item.discount%></span></td>
      </tr>
    <% } %>
    <tr><td></td></tr>
    <%}%>
    <tr class="total">
      <td colspan="7">
        <span>Items Total: <%=totalInfo.itemsTotal%></span>
      </td>
    </tr>
    <tr>
      <td class="b">Code</td>
      <td class="b">Rate</td>
      <td class="b">Value of Goods</td>
      <td class="b">VAT</td>
      <td width="300"></td>
      <td></td>
      <td></td>
    </tr>
    <% for(var i in rateInfoList) { %>
      <% var item = rateInfoList[i]%>
        <tr>
          <td><%=item.code%></td>
          <td><%=item.rate%></td>
          <td><%=item.valueOfGoods%></td>
          <td><%=item.vat%></td>
          <td></td>
          <td><%:=item.lastTitle%></td>
          <td><%:=item.lastItem%></td>
        </tr>
    <% }%>
    <tr>
      <td colspan="7">
  <p class="note">Please note that due to the unprecedented trading conditions we will not accept any goods being returned until further notice.</p></td>
    </tr>
  </tbody>
</table>
 </article> 
</script>